


body{
margin 0;
  padding 0;
background-color:black;
background-position:center;
  background-repeat:no-repeat;
  font-family:serif;}

.loginbox{
width:300px;
height:300px;
background:#7fff00;
color:#dc143c;
position:absolute;
  transrform: translate(50%,50%);
box-sizing:border-box;}

.website{
width:100px ;
height:100px;
border-radius:50%;
position:absolute;
top:50px;
left:calc(50% -50px);}

h1{
margin: 0;
padding: 0 0 20px;
text-align:center;
font-size:32px;
}

.loginboox p{
margin: 0;
pading: 0;
font-weight: bold;
}
.loginbox input{
margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
border:none;
background:transparent;
border-bottom:1px solid #fb2525;
height:40px;
color:#fb2525;
font-size:16px;
}

.loginbox input[type="submit"]
{
border:5px;
outline:none;
height:50px;
background:#fff;
color:#fb2525;
border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
cursor:pointer;
background:#ffc107;
color:#fb2525;
  }
